<!DOCTYPE html>
<html>
<head>
    <title>Not enough funds</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style type="text/css">
      .container {
        max-width: 500px;
        padding-top: 100px;
      }
    </style>
</head>
<body>

  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/logout">Logout</a>
        <a class="navbar-brand" href="/profile">Profile</a>
        <a class="navbar-brand" href="/portfolio/return">Portfolio</a>
      </div>
    </nav>


  <h2> You do not have enough funds in portfolio {{portfolioid}}, please complete a transfer or sell portfolio holdings </h2>
  <h2> You have {{thiscash}} available </h2>

    <h3> Execute stock transactions </h3>
      <form method="post" action="/post_trade">
          <label>Portfolio:</label>
          <select id="portfolio" name="portfolio" width="300px" required>
            <option selected disabled value>  </option>
            {% for portfolio in portfolios %}
              <option value="{{ portfolio }}">{{ portfolio }}</option>
            {% endfor %}
          </select>
          <label>Ticker:</label>
          <select id="ticker" name="ticker" width="300px" required>
            <option disabled selected value>  </option>
            {% for ticker in tickers %}
              <option value="{{ ticker.ticker }}, {{ticker.current_price}}">{{ ticker.ticker }} current price: {{ticker.current_price}}</option>
            {% endfor %}
          </select> <br>
          <label>Shares:</label>
          <input id="shares" name="shares" type="int" required pattern="^[0-9]+$"/>
          <!-- <label>Current price:</label>
          <input id="currentprice" name="currentprice" type="float"/> -->
          <input id="order" type="radio" name="order" value="buy" required>Buy
          <input id="order" type="radio" name="order" value="sell">Sell<br>
          <input type="submit" value="Execute"/>
      </form>



    <h3> Transfer funds </h3>
    <form method="post" action="/post_cash">
      <label>Portfolio:</label>
      <select id="portfolio" name="portfolio" width="300px" required>
        <option selected disabled value>  </option>
        {% for portfolio in portfolios %}
          <option value="{{ portfolio }}">{{ portfolio }}</option>
        {% endfor %}
      </select>
        <label>Account:</label>
        <select id="bankaccountid" name="bankaccountid" width="300px" required>
          <option disabled selected value >  </option>
          {% for bankaccountid in bankaccountids %}
            <option value="{{ bankaccountid }}">{{ bankaccountid }}</option>
          {% endfor %}
        </select>
        <label>Amount:</label>
        <input id="amount" name="amount" type="float" required pattern="^[0-9]+$"/>
        <input id="order" type="radio" name="order" value="In" required> In
        <input id="order" type="radio" name="order" value="Out"> Out<br>
        <input type="submit" value="Transfer"/>
    </form>
    <br>


</form>
</body>
</html>
